<section class="rounded border border-zinc-600 relative pb-2">
  <img class="h-12 w-full object-cover rounded" src="../../../assets/background.jpg" alt="planets background">
  <div class="px-3 ">
    <div class="flex items-center">
      <img class="relative w-14 -inset-3 -start-3" src="../../../assets/avatar-up.png" alt="reddit character">
      <span class="font-semibold">Homepage</span>
    </div>
    <p class="text-sm">Your personal Reddit page. Visit it to stay up to date with your favorite communities.</p>
    <hr class="mb-2 mt-3 color-white/10">
    <button class="w-full py-1 my-2 text-black font-semibold bg-[#d7dadc] rounded-full text-center hover:bg-[#c8cbcd]">Post</button>
    <button class="w-full py-1 my-2 border hover:bg-white/10 rounded-full text-center">Create community</button>
  </div>
</section>