<section class="relative rounded border border-zinc-600 pb-2">
  <img class="h-12 w-full rounded object-cover" src="../../../assets/background.jpg" alt="planets background" />
  <div class="px-3">
    <div class="flex items-center">
      <img class="relative -inset-3 -start-3 w-14" src="../../../assets/avatar-up.png" alt="reddit character" />
      <span class="font-semibold">Homepage</span>
    </div>
    <p class="text-sm">
      Your personal Reddit page. Visit it to stay up to date with your favorite
      communities.
    </p>
    <hr class="mb-2 mt-3" />
    <button class="my-2 w-full rounded-full bg-[#d7dadc] py-1 text-center font-semibold text-black hover:bg-[#c8cbcd]">
      Post
    </button>
    <button class="my-2 w-full rounded-full border py-1 text-center hover:bg-white/10">
      Create community
    </button>
  </div>
</section>